{% include header.html %}


<div class="content about">

        <h2>EXPÉRIENCES PROFESSIONNELLES</h2>

        <h5>FREELANCE</h5>
        
        <ul>
            
          <li><b>2017</b>
            <ul>
              <li>Créateur et MEAN Stack developer pour le site de cuisine </li>
              <li><a href="https://veganrecipe.herokuapp.com/">veganrecipe.herokuapp.com</a> (projet personnel)</li>
            </ul>
          </li>

          <li><b>2014</b>
            <ul>
              <li>Créateur et Full Stack developer (PHP/SQL) pour le site de cuisine</li> 
              <li><a href="https://recettesoriginales.fr/">recettesoriginales.fr</a> (projet personnel)</li>
            </ul>
          </li>

          <li><b>2009</b>
            <ul>
              <li>Architecture et Front-End developer pour le site de cuisine </li>
              <li><a href="http://www.cookissime.fr/">cookissime.fr</a></li>
            </ul>
          </li>

          <li><b>2008</b>
            <ul>
              <li>DA pour TEXTUEL, catalogues été 2009 “Pierre &amp; Vacances”.</li>
              <li>Compétition Budget “PMUmag” pour ENTRECOM, DA Print et Web.</li>
              <li>Compétition Budget “Banque Postale“ pour EUROKAPI, DA pour la version web.</li>
                  
            </ul>
          </li>

          <li><b>2004</b>
            <ul>
              <li>Chef de studio pour des titres de Prisma Presse: “Géo”, “Management”.</li>
              <li>Création du site web de Bernhard Winkelmann, photographe : winkelmann.fr</li>
            </ul>
          </li>

          <li><b>2003</b> 
            <ul>
              <li>Consultant directeur de création pour “OGLPC/franchise coiffure”.</li>
            </ul>
          </li>

          <li><b>1995/2001 </b>
            <ul>
              <li>Créations et réalisations de la communication du groupe J.L. DAVID.</li>
            </ul>
          </li>

          <li><b>1991/1994</b>
            <ul>
              <li>Création et réalisation de dossier de presse et de communications pour les sociétés : </li>
               <li>AZZARO, L’OREAL, LA SCAD, KÉRASTASE, MONTANA, MONTEIL, LANCASTER et POIRAY</li>
            </ul>
          </li>
        </ul>


        
        <h5>JOURNALISTE</h5>

        <ul>
            <li><h3><em>Directeur Artistique consultant</em></h3>
                <ul>
                   <li><b>2014 :</b> PÂTISSERIE Cuisine Actuelle (N°5, 6, 7, 8)</li>
                    <li><b>2011 :</b> REGAL Hors-série n° 3.</li>
                    <li><b>2008 :</b> proposition nouvelle Formule pour “MODES &amp; TRAVAUX”.</li>
                    <li><b>2007 :</b> réalisation nouvelle formule de “BIEN DANS MA VIE”.</li>
                    <li><b>2006 :</b> réalisation nouvelle formule de “Cuisine Actuelle”, projet de journal Santé “Well” pour Prisma Presse.</li>
                </ul>

            </li>
                
            <li><h3><em>Directeur Artistique consultant</em></h3>
                <ul>
                  
                  <li><b>2014 :</b> PÂTISSERIE Cuisine Actuelle (N°5, 6, 7, 8)</li>
                  <li><b>2011 :</b> REGAL Hors-série n° 3.</li>
                  <li><b>2008 :</b> proposition nouvelle Formule pour “MODES &amp; TRAVAUX”.</li>
                  <li><b>2007 :</b> réalisation nouvelle formule de “BIEN DANS MA VIE”.</li>
                  <li><b>2006 :</b> réalisation nouvelle formule de “Cuisine Actuelle”, projet de journal Santé “Well” pour Prisma Presse.</li>
                </ul>
            </li>  


            <li><h3><em>Directeur Artistique/Rédacteur en chef adjoint</em></h3>
                <ul>
                    <li><b>2005/2006</b> ESPRIT FEMME
                        <ul>
                            <li>Création et mise en place de la charte graphique,</li>
                            <li>Participation aux réunions de rédaction, propositions de sujets.</li>
                            <li>Réalisation de prise de vue photo.</li>
                            <li>Gestion des prestations extérieures (photo/illustration).</li>
                        </ul>
                  </li>
                </ul>
            </li>


            <li><h3><em>Directeur Artistique adjoint</em></h3>
                <ul>
                    <li><b>1992/2004</b> MODES &amp; TRAVAUX
                        <ul>
                            <li>Participation à la restructuration éditoriale du journal et à son évolution.</li>
                            <li>Suivi de l’élaboration des sujets, de la réunion de rédaction à la mise en page.</li>
                            <li>Réalisations de prise de vue photo.</li>
                            <li>Gestion du service illustrations.</li>
                            <li>Relations techniques avec l’imprimerie.</li>
                            <li>Détaché pour le groupe EMAP sur des nouveaux projets de journaux.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            
            <li><h3><em>Premier Maquettiste</em></h3>
                <ul>
                    <li><b>1985/1992</b> MADAME FIGARO
                        <ul>
                        <li>Recherches, propositions et mise en page des couvertures et de numéros spéciaux.</li>
                        <li>Détaché du journal Madame Figaro en 1990 comme DA adjoint pour “PROPRIETES DE FRANCE”</li>
                        </ul>
                    </li>
                </ul>
            </li>
                
            <li><h3><em>Maquettiste</em></h3>
                <ul>                   
                    <li>ELLE (Juil. 1984/Déc. 1984), MARIE FRANCE (Oct. 1983/Juil. 1984)</li>
                </ul>
            </li>

        </ul>
        
        
   

    <h2 >COMPÉTENCES</h2>
    <ul>
      <li>Créative suite Adobe (Indesign, Photoshop, Illustrator, XD)</li>
      <li>Html/Css3</li>
      <li>Javascript</li>
      <li>Php/sql</li>
      <li>MongoDB</li>
      <li>AngularJS/Angular</li>
      <li>React</li>
      <li>Github</li>
      <li>Jekyll</li>
      <li>Python</li>
    </ul>
    
    <h2 >LANGUES</h2>
    <ul>
        <li><b>Anglais :</b> Courant professionnel</li>
        <li><b>Allemand :</b> Correct</li>
    </ul>
  
    
    <h2 >DIPLÔMES</h2>
    <ul>
        <li>Bac B, - Langues: Allemand, Anglais.</li>
        <li>DEUG de Musicologie (Paris IV). - Médaille d’argent au CNR de Cergy-Pontoise en Contrebasse.</li>
        <li>Diplôme de l’Ecole Normale de Musique de Paris: Contrebasse et Musique de chambre.</li>
    </ul>
    
    


</div>



{% include footer.html %}