{% include header.html %}

<div class="content home">

    <article class="grid-images">

        <div class="home-image">
           <!-- behold -->
            

  <div data-behold-id="GzzH6ilYT1yI982Wdr1L"></div>
  <script src="https://w.behold.so/widget.js" type="module"></script>
  
        </div>

        <p class="insta-legend">
            <a href="https://www.instagram.com/lvdesignfr/">My instagram's mood ;-)</a>
        </p>

<p>New 2022</p>
    </article>


</div>

{% include footer.html %}