{% include header.html %}

<div class="content home">

    <article class="grid-images">

        <div class="home-image">
            <div id="instafeed"></div>
            <!--<div id="instagram-feed-demo" class="instagram_feed"></div>-->
            <script type="text/javascript">
                var feed = new Instafeed({
                    accessToken: '2112923378.1677ed0.0c1a405a47cc12dda94f41a996a6d31a'
                });
                feed.run();
            </script>

        </div>
        <p class="insta-legend">
            <a href="https://www.instagram.com/lvdesignfr/">My instagram's mood ;-)</a>
        </p>

    </article>


</div>

{% include footer.html %}