{% include header.html %}

<div class="content home">

    <article class="grid-images">

        <div class="home-image">
            <div id="instafeed"></div>
            <!--<div id="instagram-feed-demo" class="instagram_feed"></div>-->

            <script type="text/javascript">
                var feed = new Instafeed({
                  accessToken: '2112923378.1677ed0.c80c9f9618354474f2502923a0f066e0'
                });
                feed.run();
            </script>
        </div>
        <p class="insta-legend">
            <a href="https://www.instagram.com/lvdesignfr/">My instagram's mood ;-)</a>
        </p>

        <img src="https://www.instagram.com/p/COKn2S2HFbK/" alt="" >

    </article>

<p>toto</p>
</div>

{% include footer.html %}